{{define "content"}}
{{range .Months}}
<h4 class='allposts_header'>{{.Date}}</h4>
<table>
  {{range .Posts}}
<div class="item mb-3">
	<div class="media">
        	<div class="media-body">
			<h3 class="title mb-1"><a href="{{.PostURL}}">{{.PostTitle}}</a></h3>
			<div class="meta mb-1"><span>{{.PostDate}}</span></div>
		</div>
	</div>
</div>
  {{end}}
</table>
{{end}}
{{end}}
