{{define "content"}}
{{range .Posts}}
<div class="item mb-3">
 <div class="media">
  <div class="media-body">
	  <h3 class="title mb-1"><a href="{{.PostURL}}">{{.PostTitle}}</a></h3>
	  <div class="meta mb-1"><span>{{.PostDate}}</span></div>
  </div>
 </div>
</div>
<div class="post">
  {{.HTMLContent}}

  <p>Tags: {{range $i, $tag := .Tags}}{{if $i}}, {{end}}<a href='tag_{{.}}.html'>{{.}}</a>{{end}}</p>
</div>
{{end}}
{{end}}
