<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/theme-1.css">
  <link rel="stylesheet" href="css/blog.css">
  <link rel="alternate" type="application/rss+xml" title="subscribe to this page..." href="feed.rss" />
  <title>{{.Title}}</title>
</head>
<body>
  <div class="main-wrapper">
    <section class="cta-section theme-bg-light py-5">
      <div class="container">
        <div class="media ml-5">
          <img class="mr-4 blogImage" src="{{.BlogImage}}">
          <div class="media-body">
            <h2 class="heading mt-4"><a href="/index.html">{{.BlogName}}</a></h2>
            <div class="intro">{{.BlogDescription}}</div>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-list px-3 py-5 p-md-5">
      <div class="container">
        {{template "content" .}}

        <div id="all_posts">
          <a href="all-posts.html">More posts</a> &mdash; <a href="all-tags.html">All tags</a> &mdash; <a href="feed.rss">Subscribe</a>
        </div>
      </div>
    </section>

    <footer class="footer text-center py-2 theme-bg-dark">
      <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
      <small class="copyright">{{.License}} <a href="{{.AuthorURL}}">{{.AuthorName}}</a> &mdash; <a href="mailto:{{.AuthorEmail}}">{{.AuthorEmail}}</a></small>
      <br>
      <small class="copyright">Generated with <a href="https://github.com/jabolopes/blogo">blogo</a>, a simple go program to easily create blogs like this one</small>
      <br>
      <small class="copyright"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/popular/devblog-free-bootstrap-4-blog-template-for-developers">Theme</a> by <a href="https://twitter.com/3rdwave_themes">Xiaoying Riley</a> under the <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></small>
      <br>
      <small class="copyright">Logo by <a href="https://www.vecteezy.com/free-vector/blog">Vecteezy</a></small>
    </footer>
  </div>
</body>
</html>
